---
import DocsLinkChip from './DocsLinkChip.astro';

const { dependencies = [], docsByRecord } = Astro.props;
---

{
  !dependencies.length ? (
    <div class="muted">No linked record dependencies were detected in the scraped schema and operations.</div>
  ) : (
    <div class="chip-row">
      {dependencies.map((dependency) => (
        <DocsLinkChip
          recordName={dependency}
          docsByRecord={docsByRecord}
          description={dependency.replace(/([a-z])([A-Z])/g, '$1 $2')}
        />
      ))}
    </div>
  )
}
