NETSUITE_DOCS_URL=https://system.netsuite.com/help/helpcenter/en_US/APIs/REST_API_Browser/record/v1/2025.2/index.html
NETSUITE_EMAIL=
NETSUITE_PASSWORD=
NETSUITE_ACCOUNT_ID=
NETSUITE_ALLOW_MANUAL_MFA=false
HEADLESS=true
